.logo,
.nav-main-item,
.login,
#wiki-left,
.toc-links,
.toc-head,
.page-buttons,
#toc .center,
#Specifications,
.standard-table,
#Browser_compatibility,
.bc-data,
.wiki-block,
.contributors-sub,
.newsletter-box,
#nav-footer,
#See_also + ul,
h2#See_also,
.newsletter-block,
.local-anchor,
#See_also + ul {
  display: none !important;
}

.document-head, #main-header {
  border: 0 !important;
  background-color: rgb(47, 52, 55) !important;
  color: rgb(236, 237, 237);
}

.column-container {
  margin-left: -34%;
}

.optional {
  background-color: transparent !important;
  color: darkgrey !important;
}

h1,
h2 {
  /* font-family: Lora, serif !important; */
  font-family: arial, sans-serif !important;
}
/* <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" /> */
article {
  display: grid;
  /* font-family: Lora, serif; */
  font-family: arial, sans-serif !important;
  background: rgb(64, 68, 71);
  color: rgb(236, 237, 237);
  font-size: 1.4em;
}

.text-content article[id='wikiArticle'] > h3 .highlight-span {
  padding-left: 0 !important;
}

article > pre.syntaxbox,
.note {
  font-size: 1.2em;
  background: #002127;
  color: rgb(236, 237, 237);
}

.js {
  background-color: rgb(22, 23, 24) !important;
}

main,
html {
  background: rgb(47, 52, 55) !important;
}

.text-content h3#hightlight-spanned .highlight-span code, .text-content h3 code {
  background: transparent !important;
}

.search-wrap {
  display: block;
}

#visable {
  display: block !important;
}

var {
  color: #a462d2;
  font-style: normal !important;
  font-weight: 900 !important;
}

iframe {
  display: none;
}

.text-content p,
h1,
h2,
h3,
dl,
.note {
  max-width: none !important;
  padding-left: 20px !important;
}

code {
  font-family: 'Lucida Console', monospace !important;
  background: transparent !important;
  color: rgb(81, 170, 154) !important;
}

.note {
  background: rgb(47, 52, 55) !important;
  border-color: white !important;
}

.highlight-span {
  background: transparent !important;
  color: rgb(236, 237, 237) !important;
  text-decoration: underline !important;
  padding: none !important;
}

.text-content article[id='wikiArticle'] > h3 .highlight-span {
  padding: none !important;
}

<<<<<<< HEAD
.note > :last-child {
  background: light;
}

=======
>>>>>>> e8c70159eb98b9ec8b1e405b07a7bb606f3f7bce
article {
  padding-top: 30px;
  display: grid;
  align-content: center;
}

<<<<<<< HEAD
=======

>>>>>>> e8c70159eb98b9ec8b1e405b07a7bb606f3f7bce
#wikiArticle {
  padding: 60px;
}

article p:first-of-type {
  font-weight: 800 !important;
}

.resetButton {
  color: red;
}
