#main-header, #wiki-left, .toc-links, .toc-head {
  display: none;
}


.column-container {
  margin-left: -34%;
}

/* <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" /> */
article {
  display: grid;
  font-family: Lora, serif;
  background: rgb(65,65,65);
  color: rgb(236, 237, 237);
  font-size: 1.5em;
}

article > pre.syntaxbox, .note {
  font-size: 1.2em;
  background: #002127;
  color: rgb(236, 237, 237);
}

main, html {
  background: rgb(47,52,55) !important;
}

var {
  color: #a462d2;
  font-weight: 800;
}

.text-content p, h1, h2, h3, dl, .note {
  max-width: none !important;
  padding: 20px !important;
}

.note > :last-child {
  background: light
}

