#main-header,
#wiki-left,
.toc-links,
.toc-head {
  display: none;
}

.page-buttons {
  display: none;
}

#toc .center {
  display: none !important;
}

.column-container {
  margin-left: -34%;
}

/* <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" /> */
article {
  display: grid;
  font-family: Lora, serif;
  background: rgb(64, 68, 71),
  color: #002127;
  font-size: 1.5em;
}

pre.syntaxbox,
pre.twopartsyntaxbox {
  font-size: 1.2em;
  background: #002127;
  color: #d1dbbd;
}

.var {
  color: #a462d2;
  font-weight: 800;
}
